@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');


:root{
  --product-card-width: 500px;
  --product-card-height: fit-content;
  --modal-max-width: 20%;
  --modal-max-height: 10%;
  --image-container-height: 400px;
  --image-container-width:400px;
  --card-border-radius: 40px;
  --color-main-dark: #0d0106;
  --color-main-light: #fbfbff;
  --color-accent-pop: #ff331f;
  --color-accent-dark: #3626a7;
  --color-accent-light: #657ed4;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 900;
  text-transform: uppercase;

}

.product-link{
  border-radius: 100px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-highlight);
  color: grey;
  font-size: 3em;
}

.product-card{
    border: 10px solid var(--color-accent-dark);
    width: var(--product-card-width);
    height: var(--product-card-height);
    background-color: var(--color-main-light);
    display:flex;
    flex-direction: column;
    gap:50px;
    border-radius: var(--card-border-radius);
    align-items: center;
    justify-content: center;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 900;
}

.product-card:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-main-light);
}

.product-image-container{
  margin: 40px;
  height: var(--image-container-height);
  width: var(--image-container-width);
  border-radius: var(--card-border-radius);
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.product-modal-image-container{
  height: 100%;
  width:var(--modal-max-width);
}

.product-image{
  height: 100%;
  width: 100%;
  border-radius: var(--card-border-radius);
  align-self: center;
  justify-self: center;

}


.best-value{
  border: 1px solid red !important;
}
.product-details {
   margin-left: 20px;
    display: grid;
    padding: 30px;
    grid-template-areas:
      "name price"
      "rating retailer"
      "description description"
      "description description"
      ". link"; 
  }
  

 
  

  .product-name {
    grid-area: name;
    width: calc(var(--product-card-width)/1.4);
    
  }
  
  .product-price-details {
    grid-area: price;
    width: fit-content;
  }

  .product-price{
    background-color: var(--color-highlight);
    width: fit-content;
    padding: 10px;
    border-radius: var(--card-border-radius);
  }
  
  .product-description {
    grid-area: description;
  }
  
  .product-link {
    grid-area: link;
    background-color: var(--color-accent-light);
    border: none;
    color: var(--color-main-light);
    margin-bottom: 10px;

  }

  .product-link:hover {
    background-color: var(--color-accent-pop);
  }

  .product-rating{
    grid-area: rating;
  }

  .product-retailer{
    grid-area: retailer;
  }

  .see-more{
    font-weight: bold;
  }
  .modal{
    overflow: hidden; 
    
    
  }
 
  .modal-overlay {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    overflow: hidden; 
  }

  .react-responsive-modal-modal {
    padding: 0 !important;
    background: #fff !important;
    overflow: hidden !important;
  }

  .slick-dots {
    position: absolute !important;
    bottom: 10px !important; 
    left: 50% !important; 
    transform: translateX(-50%); 
    z-index: 1; 
  }
  .slick-slider {
    width: 100%;
    max-height: 100%;
    
  }
  
  .slick-list {
    height: 100%;
    
  }
  
  .slick-slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }