.product-card{
    border: 1px solid black;
    width: 250px;
}

.product-details {
   
    display: grid;
    grid-template-areas:
      "name price"
      "rating retailer"
      "description description"
      "description description"
      ". link"; /* Empty grid area for the link, assuming you want it to span only one column */
  }
  
  .product-image-container{
    height: 100px;
    width: auto;
  }

  .product-name {
    grid-area: name;
  }
  
  .product-price {
    grid-area: price;
  }
  
  .product-description {
    grid-area: description;
  }
  
  .product-link {
    grid-area: link;
  }

  .product-rating{
    grid-area: rating;
  }

  .product-retailer{
    grid-area: retailer;
  }